* {
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	display: grid;
	font-size: 62.5%;
	background: #C8B0AB;
}

nav {
  	background: #333333;
	height: 50px;
}

.nav_items {
  	display: flex;
  	justify-content: space-between;
	align-items: center;
  	padding: 15px;
	width: 50%;
	margin:0% 25%;
	font-size: large;
	font-family: sans-serif;
	font-weight: bold;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

p {
	font-size: 1rem;
}

h1 {
	font-size: 1.4rem;
}

.home_page_container {
	margin: 10% 10%;
}

.background_image {
  	background: url(images/homepage_img.jpg) no-repeat center center fixed;
  	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	position:absolute;
  	top: 50px;
  	bottom: 0;
  	right: 0;
  	left: 0;
}

.name {
	font-size: 3rem;
	color: #FFFFFF;
	font-family: 'Charmonman', cursive;
}

.button_details {
	font-size: 2.5rem;
	background: #808080;
	color: #FFFFFF;
	border-radius: 25px;
	padding: 0px 20px;
}

.projects_container {
	margin: 5% 10%;
}

.projects {
	grid-template-columns: 1fr 2fr;
	display: grid;
	margin: 50px 0px;
}

.projects_divs {
	margin: 0px 0px 0px 60px;
}

.icon_details {
	font-size: 1.75rem;
}
.fa-github {
	font-size: 2rem;
}

.fa-external-link-alt {
	font-size: 1.75rem;
}

.projects_icons {
	grid-template-columns: 1fr 1fr;
	display: grid;
}

.projects_img {
	border-radius: 20px;
	width: 100%;
}

.projects_paragraph_text {
	font-family: 'Montserrat', sans-serif;
}

p.about_me_paragraph {
	font-family: 'Montserrat', sans-serif;
}

.about_me_container {
	margin: 10% 10% 0% 10%;
}

.about_me_elements {
	grid-template-columns: 2fr 1fr;
	display: grid;
}

.about_me_paragraph {
	margin: 0px 60px 0px 0px;
}

.about_me_img_div {
	width: 120%;
}
.about_me_img {
	width: 100%;
	border-radius: 25px;
}

footer {
	background: #000000;
}

.footer_about_me {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.contact_me_icons_footer {
	margin: 15px;
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
	text-align:center;
}

.contact_me_github {
	color: #FFFFFF;
	font-size: 2rem;
}

.social-button {
	font-size: 2rem;
}

.contact_me_elements {
	width: 90%;
	grid-template-rows: 1fr 1fr 1fr;
	display: grid;
}

.php_img {
	display: none;
}


@media only screen and (max-width: 1300px) {
	.name {
		font-size: 2rem;
	}
	.home_page_container {
		margin: 20% 10%;
	}
	.button_details {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 1200px) {
	.footer_about_me {
		position: static;
	}
	
	.about_me_container {
  		display: flex;
  		flex-direction: column;
 	}
	.about_me_elements {
  		display: flex;
  		flex-direction: column;
 	}

	.about_me_img_div {
  		order: 2;
  		width: 50%;
 	}

	.about_me_paragraphs {
  		order: 3;
  		padding: 30px 0px 0px 0px;
 	}
 
	.projects_container {
  		display: flex;
  		flex-direction: column;	
	}
	
	.projects_divs {
  		margin: auto;
	}
	
	.projects {
  		display: flex;
  		flex-direction: column;
	}
	
	.projects_img {
  		width: 50%;
	}
}

@media only screen and (max-width: 800px) {
	.php_img {
		display: block;
		width: 100%;
	}

	.background_image {
		background: none;
	}

	.home_page_container {
		margin: 0px;
		position: absolute;
		top: 200px;
		right: 10px;
	}

	.button_details {
		font-size: 1rem;
	}

	.name {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 570px) {
	.home_page_container {
		position: static;
	}
}

@media only screen and (max-width: 600px) {
	.nav_items {
		font-size: small;
	}
}
	


